// Base styles
*,*::before,*::after {
  box-sizing: inherit;
}

body {
  color: #363d39;
  background: #fff;
  box-sizing: border-box;
  font: normal 14px/20px $font-regular;
}

.main-nav {
  width: 20%;
  float: left;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
}

a.logo {
  font-size: 50px;
  display: block;
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  padding: $global-padding;

  @include media-md {
    padding: #{$global-padding * 2};
  }
}