// Color Palettes

.colorpalettes {
  @include clearfix;
  @include media-sm {
    margin-left: -#{$vertical-beat * 2};
    width: calc(100% + #{$vertical-beat * 2});
  }

  .color {
    width: 100%;

    p {
      &::before {
        height: 1px;
        content: '';
        width: 10px;
        display: block;
        background: $black;
        margin-bottom: 12px;
      }
      &:first-of-type {
        &::before {
          display: none;
        }
      }
      span {
        display: block;
      }
      .label {
        @extend .h3;
        font-size: 7px;
      }
      .value {
        font-size: 12px;
        font-family: $font-mono;
      }
    }

    @include media-sm {
      width: 50%;
      float: left;
      padding-left: #{$vertical-beat * 2};
    }

    @include media-md {
      width: 20%;
    }
  }

  .swatch {
    height: 0;
    width: 100%;
    cursor: pointer;
    position: relative;
    padding-bottom: 100%;
    margin-bottom: #{$vertical-beat * 2};
    .copy-text {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      color: $white;
      text-align: center;
      position: absolute;
      font-family: $font-mono;
      background: rgba(0,0,0,.1);
      transition: opacity .2s ease-out;
    }
    &:hover {
      .copy-text {
        opacity: 1;
      }
    }
  }
}