// Color Palettes

.colorpalettes {
  @include clearfix;

  .color {
    width: 100%;

    @include media-sm {
      width: 50%;
      float: left;
      margin-left: #{$vertical-beat * 3};
      &:first-of-type {
        margin-left: 0;
      }
    }

    @include media-md {
      width: 25%;
    }
  }

  .swatch {
    height: 0;
    width: 100%;
    cursor: pointer;
    position: relative;
    padding-bottom: 100%;
    margin-bottom: #{$vertical-beat * 2};
    &::after {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      color: $white;
      display: flex;
      position: absolute;
      align-content: center;
      font-family: $font-mono;
      background: rgba(0,0,0,.1);
      content: 'copy to clipboard';
      transition: opacity .2s ease-out;
    }
    &:hover {
      &::after {
        opacity: 1;
      }
    }
  }
}