// Color Palettes

.colorpalettes {
  @include clearfix;
  @include media-sm {
    display: flex;
    flex-wrap: wrap;
    margin-left: -#{$vertical-beat * 2};
    width: calc(100% + #{$vertical-beat * 2});
  }

  .color {
    width: 100%;
    margin-bottom: #{$vertical-beat * 2};

    .color-label {
      font: 400 12px/20px $font-sans;
      &::after {
        height: 1px;
        content: '';
        width: 10px;
        display: block;
        background: $black;
        margin: $vertical-beat 0;
      }
    }

    p {
      margin: 0;
      .label {
        text-transform: uppercase;
        margin-right: $vertical-beat;
        font: 400 12px/20px $font-sans;
      }
      .value {
        font-size: 12px;
        font-family: $font-mono;
      }
    }

    @include media-sm {
      max-width: 50%;
      float: left;
      flex-basis: 50%;
      padding-left: #{$vertical-beat * 2};
    }

    @include media-md {
      max-width: 33.333%;
      flex-basis: 33.333%;
    }

    @include media-lg {
      max-width: 25%;
      flex-basis: 25%;
    }

    @include media-xl {
      max-width: 20%;
      flex-basis: 20%;
    }
  }

  .swatch {
    height: 0;
    width: 100%;
    cursor: pointer;
    position: relative;
    padding-bottom: 100%;
    margin-bottom: $vertical-beat;
    &::before {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: '';
      position: absolute;
      background: rgba(0,0,0,0);
      transition: background .2s ease-out;
    }
    .plus {
      width: 20px;
      height: 20px;
      position: absolute;
      top: $vertical-beat;
      right: $vertical-beat;
      border: 1px solid $black;
      transition: border .2s ease-out;
      &::before,
      &::after {
        left: 4px;
        top: 9px;
        height: 1px;
        width: 10px;
        content: '';
        background: $black;
        position: absolute;
        transition: background .2s ease-out;
      }
      &::after {
        transform: rotate(90deg);
      }
    }
    .copy-text,
    .copied-message {
      top: 50%;
      left: 50%;
      opacity: 0;
      color: $white;
      text-align: center;
      position: absolute;
      display: inline-block;
      font-family: $font-mono;
      transform: translate(-50%,-50%);
      transition: opacity .2s ease-out;
    }
    &:not(.copied):hover {
      &::before {
        background: rgba(0,0,0,.1);
      }
      .copy-text {
        opacity: 1;
      }
      .plus {
        border-color: $white;
        &::before,
        &::after {
          background: $white;
        }
      }
    }
    // Copied message
    &.copied {
      &::before {
        background: rgba(0,0,0,.6);
      }
      .copied-message {
        opacity: 1;
      }
      .plus {
        border-color: $white;
        &::before,
        &::after {
          background: $white;
        }
      }
    }
  }

  .copied-message {
    .checkmark {
      margin: 0 auto $vertical-beat;
    }
  }

  // Colorways modifactions
  &.colorways {
  
    .color {
      @include media-sm {
        width: 50%;
        float: left;
        padding-left: #{$vertical-beat * 2};
      }
      @include media-md {
        width: 50%;
      }
      @include media-xl {
        width: 25%;
      }
    }

    .colorway-swatch {
      display: flex;
      flex-wrap: wrap;
      cursor: default;
      .colorway-color {
        height: 0;
        max-width: 50%;
        flex-basis: 50%;
        padding-bottom: 50%;
      }
    }
  }

  // Single Color modifications
  &.single-color {
    .color {
      @include media-sm {
        width: 100%;
      }
      @include media-md {
        width: 100%;

        .swatch-wrapper {
          float: left;
          width: 100%;
          max-width: 500px;
          margin-right: #{$vertical-beat * 2};
        }

        .color-specs {
          float: left;
        }
      }
    }
  }
}

// Color page
body.color {
  .subnested-modular {
    margin-top: #{$vertical-beat * 4};
    > .content {
      margin-bottom: $vertical-beat;
    }
  }
}