// Header

.header {
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
  position: fixed;
  text-align: center;
  width: $global-padding;
  padding: $global-padding 0;
  .logo {
    line-height: 1;
    text-decoration: none;
    img {
      width: 20px;
      position: relative;
      vertical-align: baseline;
    }
  }

  h2 {
    margin: 0;
    left: 13px;
    @extend .h3;
    line-height: 33px;
    position: absolute;
    white-space: nowrap;
    padding-left: $global-padding;
    bottom: #{$global-padding / 2};
    transform: rotate(-90deg) translatey(100%);
    transform-origin: bottom left;
    &::after {
      top: 0;
      left: 0;
      width: 1px;
      content: '';
      background: $black;
      position: absolute;
      height: #{$global-padding / 2};
    }
  }

  @include media-md {
    width: #{$global-padding * 2};

    h2 {
      left: 26px;
      bottom: $global-padding;
    }
  }
}

// Nav
.menu-toggle {
  top: -15px;
  z-index: 2;
  width: 31px;
  height: 31px;
  cursor: pointer;
  font-weight: 700;
  overflow: hidden;
  background: none;
  position: relative;
  border-radius: 50%;
  border: 1px solid $black;
  font-family: $font-regular;
  margin-bottom: #{$global-padding / 2};
  transition: transform .2s ease-out, background .2s ease-out;
  &::before,
  &::after {
    top: 14px;
    left: 7px;
    width: 15px;
    height: 1px;
    content: '';
    position: absolute;
    background: $black;
  }
  &::after {
    transform: rotate(-90deg);
  }
  &:focus {
    outline: none;
  }
  &:hover {
    background: $white;
  }
  &.menu-open {
    transform: rotate(135deg);
    &::before,
    &::after {
      // top: 10px;
    }
  }
}

.main-nav {
  top: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  z-index: 10;
  width: 100%;
  overflow: auto;
  position: fixed;
  background: $white;
  pointer-events: none;
  will-change: opacity;
  padding: $global-padding;
  transition: opacity .5s ease-in-out;
  &.active {
    opacity: 1;
    pointer-events: auto;
  }

  @include media-md {
    padding: #{$global-padding * 2} #{$global-padding * 2} $global-padding;
  }

  .toc-label {
    max-width: 50px;
    @include media-md {
      max-width: 133px;
    }
  }

  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  ol {
    counter-reset: item;
    font-family: $font-mono;
    > li {
      font-size: 10px;
      counter-increment: item;
    }
    ol li {
      list-style: none;
      &::before {
        margin-left: -24px;
        content: counters(item, ".");
        padding-right: $global-padding;
      }
    }
  }
  > ol {
    margin-top: $global-padding;
    padding-left: #{$global-padding / 2};
    margin-bottom: #{$global-padding * 2};
    list-style-type: decimal-leading-zero;
    @include media-lg {
      columns: 2;
      column-rule: 1px solid $black;
      margin-top: #{$global-padding * 3};
      column-gap: #{$global-padding * 2};
    }
    @include media-xl {
      columns: 4;
    }

    > li {
      break-inside: avoid;
      margin-bottom: 10px;
      > a {
        @include h1;
        display: block;
        word-break: break-all;
        padding-left: #{$global-padding / 2};
        @include media-lg {        
          padding-left: $global-padding;
          &::after {
            width: 4px;
            content: '';
            height: 1px;
            display: block;
            background: $black;
            margin: 5px 0 6px -52px;
          }
        }
      }
      ol {
        margin: 0;
        padding: 0;
        display: none;
        @include media-md {
          display: block;
        }

        li {
          a {          
            @extend .h3;
          }
        }
      }
    }
  }
}