// Header

.header {
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
  position: fixed;
  text-align: center;
  width: $global-padding;
  padding: $global-padding 0;
  .logo {
    line-height: 1;
    text-decoration: none;
    img {
      width: 20px;
      position: relative;
      vertical-align: baseline;
    }
  }

  h2 {
    margin: 0;
    left: 13px;
    @extend .h3;
    line-height: 33px;
    position: absolute;
    white-space: nowrap;
    padding-left: $global-padding;
    bottom: #{$global-padding / 2};
    transform: rotate(-90deg) translatey(100%);
    transform-origin: bottom left;
    &::after {
      top: 0;
      left: 0;
      width: 1px;
      content: '';
      background: $black;
      position: absolute;
      height: #{$global-padding / 2};
    }
  }

  @include media-md {
    width: #{$global-padding * 2};

    h2 {
      left: 26px;
      bottom: $global-padding;
    }
  }
}

// Nav
.menu-toggle {
  top: -15px;
  z-index: 2;
  width: 31px;
  height: 31px;
  cursor: pointer;
  font-weight: 700;
  overflow: hidden;
  background: none;
  position: relative;
  border-radius: 50%;
  border: 1px solid $black;
  font-family: $font-regular;
  margin-bottom: #{$global-padding / 2};
  transition: transform .2s ease-out, background .2s ease-out;
  &::before,
  &::after {
    top: 14px;
    left: 7px;
    width: 15px;
    height: 1px;
    content: '';
    position: absolute;
    background: $black;
  }
  &::after {
    transform: rotate(-90deg);
  }
  &:focus {
    outline: none;
  }
  &:hover {
    background: $white;
  }
  &.menu-open {
    transform: rotate(135deg);
    &::before,
    &::after {
      // top: 10px;
    }
  }
}

.main-nav {
  top: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  z-index: 10;
  width: 100%;
  overflow: auto;
  position: fixed;
  background: $white;
  pointer-events: none;
  will-change: opacity;
  padding: $global-padding;
  transition: opacity .3s ease-out .3s;
  @include media-md {
    padding: $global-padding #{$global-padding * 2} $global-padding;
  }
  &.active {
    opacity: 1;
    pointer-events: auto;
    transition: opacity .3s ease-out 0s;
    .-inner {
      opacity: 1;
      transition: opacity .3s ease-out .4s;
    }
    .nav-list {
      opacity: 1;
      transform: translateY(0);
      transition: opacity .3s ease-out .5s, transform .5s ease-out .4s;
    }
  }

  .-inner {
    opacity: 0;
    will-change: opacity;
    transition: opacity .3s ease-out .1s;
  }

  .toc-label {
    max-width: 50px;
    @include media-md {
      max-width: 133px;
    }
  }

  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  ol {
    font-family: $font-mono;
    > li {
      font-size: 10px;
      list-style: none;
    }
    ol li {
      list-style: none;
    }
  }
  .nav-list {
    opacity: 0;
    padding-left: 0;
    margin-top: $global-padding;
    will-change: opacity, transform;
    margin-bottom: #{$global-padding * 2};
    transform: translateY(-#{$global-padding * 3});
    transition: opacity .3s ease-out 0s, transform .5s ease-out 0s;
    @include media-lg {
      margin-top: #{$global-padding * 3};
      columns: 2;
      column-width: 215px;
      column-rule: 1px solid $black;
      column-gap: #{$global-padding * 2};
      -webkit-columns: 2;
      -webkit-column-width: 215px;
      -webkit-column-rule: 1px solid $black;
      -webkit-column-gap: #{$global-padding * 2};
      -moz-columns: 2;
      -moz-column-width: 215px;
      -moz-column-rule: 1px solid $black;
      -moz-column-gap: #{$global-padding * 2};
    }
    @include media-xl {
      columns: 3;
      -webkit-columns: 3;
      -moz-columns: 3;      
    }
    @include min-screen(1390px) {
      columns: 4;
      -webkit-columns: 4;
      -moz-columns: 4;
    }

    > li {
      break-inside: avoid;
      margin-bottom: 10px;
      @include media-md {
        padding-bottom: $global-padding;
      }
      @include media-xl {
        padding-bottom: #{$global-padding * 2};
      }

      > a {
        @include h1;
        display: block;
        @include media-md {        
          &::after {
            width: 6px;
            content: '';
            height: 2px;
            display: block;
            background: $black;
            margin: 25px 0 25px 0;
          }
        }
      }
      ol {
        margin: 0;
        padding: 0;
        display: none;
        @include media-md {
          display: block;
        }

        li {
          a {          
            @extend .h3;
            br {
              display: none;
            }
          }
        }
      }
    }
  }
}