// UI Components

.copy-message {
  top: 50%;
  left: 50%;
  opacity: 0;
  z-index: 30;
  position: fixed;
  background: #f4f1ec;
  font-family: $font-mono;
  padding: $global-padding;
  transform: translate(-50%, -50%);
  &.-active {
    visibility: visible;
    animation: showHide 3s forwards;
  }

  .copied-value {
    font-weight: 700;
    display: inline-block;
    padding: $vertical-beat;
    background: rgba(0,0,0,.05);
  }
}

@keyframes showHide {
  0%, 100% {
    opacity: 0;
  }
  25%, 75% {
    opacity: 1;
  }
}

// Symbols
.arrow {
  width: 25px;
  height: 20px;
  position: relative;
  display: inline-block;
  &::before {
    left: 0;
    top: 10px;
    height: 1px;
    width: 100%;
    content: '';
    background: $black;
    position: absolute;
  }
  &::after {
    top: 3px;
    right: 2px;
    content: '';
    width: 15px;
    height: 15px;
    position: absolute;
    transform: rotate(-45deg);
    border-right: 1px solid $black;
    border-bottom: 1px solid $black;
  }
}

.expand-arrow {
  width: 16px;
  height: 1px;
  display: block;
  background: $white;
  position: relative;
  transform: rotate(-45deg);
  &::before,
  &::after {
    width: 5px;
    height: 5px;
    content: '';
    position: absolute;
    transform: rotate(45deg);
  }
  &::before {
    left: 1px;
    bottom: -2px;
    border: 1px solid $white;
    border-top-color: transparent;
    border-right-color: transparent;
  }
  &::after {
    top: -2px;
    right: 1px;
    border: 1px solid $white;
    border-left-color: transparent;
    border-bottom-color: transparent;
  }
}

.close-button {
  display: inline-block;
  border: 1px solid $white;
  width: #{$vertical-beat * 2};
  height: #{$vertical-beat * 2};
  &::before,
  &::after {
    top: 50%;
    height: 1px;
    content: '';
    position: absolute;
    background: $white;
    width: $vertical-beat;
    transform: translateY(-50%);
    left: #{($vertical-beat / 2) - 1};
  }
  &::before {
    transform: rotate(-45deg);
  }
  &::after {
    transform: rotate(45deg);
  }
}

.checkmark {
  width: 12px;
  height: 6px;
  display: block;
  border: solid $white;
  border-width: 0 0 1px 1px;
  transform: rotate(-45deg);
}

.button {
  @extend .h3;
  display: inline-block;
  text-decoration: none;
  border: 1px solid $black;
  transition: background .2s ease-out;
  padding: #{$vertical-beat * 1.5} #{$vertical-beat * 1.5} #{$vertical-beat * 1.25};
  &:hover,
  &:focus {
    background: rgba(0,0,0,.1);
  }
}