# Composer
.composer
composer.lock
/vendor

# Sass
.sass-cache

# Grav Specific
backup/*
!backup/.*
cache/*
!cache/.*
assets/*
!assets/.*
logs/*
!logs/.*
images/*
!images/.*
user/accounts/*
!user/accounts/.*
user/data/*
!user/data/.*
user/plugins/*
!user/plugins/.*
user/themes/*
!user/themes/.*
!user/themes/brandguide
user/localhost/config/security.yaml
user/grav-brandguide.static/config/security.yaml

# OS Generated
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp

# phpstorm
.idea/*
user/config/security.yaml

tests/_output/*
tests/_support/_generated/*
tests/cache/*
tests/error.log
