{% extends 'partials/base.html.twig' %}

{% block content %}
  <div class="wrapper padding">
    <img src="{{config.brand.primaryLogo|first.path}}">
    {{ page.content }}
    {% for module in page.collection() %}
        <div class="module" id="{{ _self.pageLinkName(module.menu) }}">
	        {{ module.content }}
	      </div>
    {% endfor %}
  </div>
{% endblock %}
