// Flor Mono

body.flor.mono {
  
}

.childpage.flor-mono-characters {
  line-height: 1;
  padding-left: 0;
  font-size: 7.5vw;
  font-family: $flor-mono;
  p {
    margin: 1em 0 0;
    &:first-of-type {
      margin-top: 0;
    }
  }

  @include media-md {
    padding-left: 0;
  }

  @include min-screen(1450px) {
    font-size: 108px;
  }
}