// Homepage

.homepage {
  .intro-section {
    p {
      margin: 0;
    }
    img {
      max-width: 100%;
    }

    @include media-md {
      img {
        max-width: 400px;
      }
    }
  }
}

// Features
$imgWidth: 510px;

.feature {
  z-index: 1;
  overflow: hidden;
  position: relative;
  position: relative;
  margin-right: #{$global-padding + 2};
  @include min-screen(#{$imgWidth + 200}) {
    margin-right: #{$global-padding * 3};
  }
  
  h1 {
    margin-top: 0;
  }

  .-inner {
    z-index: 1;
    @include clearfix;
    position: relative;
    padding: 18px 0 $global-padding;
  }

  .explore-link {
    @extend .h3;
    position: relative;
    margin: 0 0 0 35px;
    text-decoration: none;
    .explore-arrow {
      top: 2px;
      left: 100%;
      position: absolute;
      padding-left: #{$vertical-beat * .5};
      &::after {
        top: 0;
        left: 100%;
        width: 8px;
        height: 8px;
        content: '';
        position: absolute;
        border-style: solid;
        transform: rotate(-45deg);
        border-width: 0 1px 1px 0;
      }
    }

    @include min-screen(#{$imgWidth + 200}) {
      margin-left: 0;
      margin-right: $global-padding;
      &:hover {
        .explore-arrow::after {
          animation: exploreHover 1s linear infinite;
        }
      }

      .explore-arrow {
        left: 0;
        top: 100%;
        width: 100%;  
        padding-top: #{$vertical-beat * .5};
        &::after {
          top: 100%;
          width: 15px;
          height: 15px;
          left: calc(50% - 10px);
          transform: rotate(45deg);
        }
      }
    }
  }

  .feature-title {  
    @include h2;
    max-width: 100px;
    margin: -$vertical-beat 0 #{$vertical-beat * 2} 35px;

    @include min-screen(#{$imgWidth + 200}) {
      @include h3;
      max-width: none;

      .secondary-color {
        color: inherit!important;
      }
    }
  }

  .feature-foreground {
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    padding: 0 35px;
    position: relative;
    max-width: $imgWidth;
    img {
      vertical-align: top;
    }
    .large {
      display: none;
    }
    @include min-screen(#{$imgWidth + 200}) {
      padding: 0;
      margin-bottom: #{$global-padding - 5};

      .small {
        display: none;
      }
      .large {
        display: block;
      }
    }
  }

  .feature-background {
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    display: none;
    position: absolute;
    width: #{$column * 9};
    background-size: cover;
  }

  @include min-screen(#{$imgWidth + 200}) {
    height: 70vh;
    min-height: 660px;

    .-inner {
      margin: 0 0 #{$global-padding * 3};
      padding: #{$global-padding - 5} 0 0;
    }

    .explore-link,
    .feature-title {
      top: 100%;
      position: absolute;
    }
    .explore-link {
      margin-right: 0;
      transform: translateX(-100%);
      left: calc((100% * 9 / 20) + 305px);
      .explore-arrow {
        padding-top: #{$vertical-beat * .5};
      }
    }
    .feature-title {
      margin-left: 0;
      left: calc((100% * 9 / 20) - 200px);
    }

    .feature-foreground {
      margin-bottom: 0;
      left: calc((100% * 9 / 20) - 205px);
      padding-bottom: #{$global-padding - 5};
    }
    .feature-background {
      display: block;
    }
    &:nth-of-type(even) {
      .feature-foreground {
        left: calc((100% * 9 / 20) - 305px); 
      }
      .feature-background {
        right: 0;
        left: auto;
        width: #{$column * 11}
      }
    }
  }

  @include min-screen(1295px) {
    .explore-link,
    .feature-title {
      top: auto;
      float: none;
      left: calc((100% * 9 / 20) + 405px);
      transform-origin: left;
    }
    .explore-link {
      top: #{100px + ($global-padding - 10)};
      transform: rotate(-90deg) translateX(-100%);
    }
    .feature-title {
      bottom: 0;
      margin-bottom: -5px;
      transform: rotate(-90deg);
    }

    .feature-foreground {
      margin-bottom: 0;
      padding-bottom: 0;
    }

    &:nth-of-type(even) {
      .explore-link,
      .feature-title {
        left: calc((100% * 9 / 20) - 405px); 
      }
    }
  }
}