// Logotypes

#logotypes {
  .modular-row {
    margin-bottom: 50px;
    @include media-md {
      margin-bottom: 0;
      padding-right: 50px;
    }
    p {
      margin: 0;
    }
    a {
      margin: 0 20px 20px 0;
      display: inline-block;
      img {
        vertical-align: top;
      }
      &.button {
        margin-top: #{$vertical-beat * 4};
      }
    }
  }
  ._primary-vertical {
    img {
      max-width: 60px;
    }
  }
  ._primary-horizontal {
    img {
      max-width: 240px;
    }
  }
  ._secondary-vertical,
  ._tertiary {
    img {
      max-width: 144px;
    }
  }
  ._secondary-horizontal {
    img {
      max-width: 216px;
    }
  }

  &#tertiary {
    .modular-container {
      width: 100%;
    }
  }
}