// Logotypes

.logotypes {
  .childpage {
    ._primary-vertical {
      img {
        max-width: 60px;
      }
    }
    ._primary-horizontal {
      img {
        max-width: 240px;
      }
    }
  }

  .subpage-content {
    .modular-container {
      position: relative;
    }
    .sidenote {
      font-size: 8px;
      text-align: right;
      font-family: $font-sans;
      @include media-md {
        top: 0;
        right: 100%;
        position: absolute;
      }
    }
  }
}