// Page Styles

.page-section {
  .page-title {
    @extend .h1;
    margin-bottom: 144px;
  }

  .page-small-title {
    @extend .h3;
    border-bottom: 1px solid $black;
    padding-bottom: #{$vertical-beat * 2};
  }
  
  .childpage {
    padding-top: $global-padding;
    @include dots($black, 4px, top);
    margin-top: #{$global-padding * 2};
    &:first-of-type {
      background: none;
    }

    > .subpage-content > .nested-modular > .content > h3 {
      display: none;
    }
  }

  .subpage-title {
    @extend .h1;
  }
}

.subpage-content {
  @extend .grid;
  position: relative;
  .modular-container {
    @extend .one-half;
    position: relative;
  }
  .content {
    position: relative;
    margin-bottom: #{$vertical-beat * 4};
    .nested-title {
      @extend .h2;
      letter-spacing: 0;
      text-transform: none;
      margin-bottom: #{$vertical-beat * 3};
    }
  }
  .sidenote {
    top: 5px;
    right: 100%;
    width: 100px;
    font-size: 8px;
    text-align: right;
    position: absolute;
    padding-right: 20px;
    font-family: $font-sans;
  }
}

.user-content {
  h1 {
    @extend .h1;
    margin-bottom: 0;
  }
  h2 {
    @extend .h2;
    margin-bottom: 0;
  }
  h3 {
    @extend .h3;
    margin-bottom: 0;
  }
  p {
    margin-top: 0;
    max-width: 580px;
  }
}

.section-intro {
  min-height: 75vh;
  @include media-md {
    .page-content {
      width: 408px;
      margin-left: 144px;
      position: relative;
      > p:first-of-type {
        margin-top: 0;
      }
      &::before {
        top: 36px;
        height: 1px;
        width: 72px;
        content: '';
        right: 100%;
        background: $black;
        position: absolute;
        transform: translateX(-36px);
      }
    }
  }
}

.modular-container {
  .modular-title {
    @extend .h1;
  }
}

.nested-modular,
.subnested-modulars {
  @extend .grid;
}

.nested-modular {
  padding: #{$vertical-beat * 4} 0;
  @include dots($black, 4px, top);
  &:first-of-type {
    background: none;
  }
}

.subnested-module-content {
  position: relative;
}

// Page Nav
.page-nav {
  @extend .h2;
  margin-top: #{$global-padding * 2};
  
  .wrapper {
    padding-bottom: 0;
  }

  .nav-button {
    position: relative;
    text-decoration: none;
    display: inline-block;
    padding-bottom: #{$global-padding / 2};
  }

  .label {
    @extend .h3;
    display: block;
  }

  .arrow {
    top: 22px;
    opacity: 0;
    position: absolute;
    pointer-events: none;
    transition: opacity .2s ease-out, transform .2s ease-out;
  }

  .prev {
    text-align: right;
    padding-right: $global-padding;
    .arrow {
      right: 100%;
      margin-right: $global-padding;
      transform: rotate(180deg) translateX(-20px);
    }

    &:hover {
      .arrow {
        opacity: 1;
        transform: rotate(180deg) translateX(0);
      }
    }
  }
  .next {
    padding-left: $global-padding; 
    border-left: 1px solid $black;
    .arrow {
      left: 100%;
      transform: translateX(-20px);
      margin-left: $global-padding;
    }

    &:hover {
      .arrow {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }

  .colorbar {
    height: #{$global-padding * 2};
    transition: background .2s ease-out;
    @include media-md {
      width: 72%;
    }
  }
}