// Page Styles

.page-section {
  .page-title {
    @extend .h1;
    margin-bottom: 144px;
  }

  .childpage {
    padding-top: $global-padding;
    @include dots($black, 4px, top);
    margin-top: #{$global-padding * 2};
  }

  .subpage-title {
    @extend .h2;
    margin-bottom: 140px;
  }
}

.subpage-content {
  .content {
    margin-bottom: #{$vertical-beat * 4};
  }
}

.section-intro {
  min-height: 75vh;
  @include media-md {
    .page-content {
      width: 408px;
      margin-left: 144px;
      position: relative;
      > p:first-of-type {
        margin-top: 0;
      }
      &::before {
        top: 36px;
        height: 1px;
        width: 72px;
        content: '';
        right: 100%;
        background: $black;
        position: absolute;
        transform: translateX(-36px);
      }
    }
  }
}

.modular-container {
  .modular-title {
    @extend .h1;
  }
}

// Page Nav
.page-nav {
  @extend .h2;
  margin-top: #{$global-padding * 2};
  
  .wrapper {
    padding-bottom: 0;
  }

  .button {
    position: relative;
    text-decoration: none;
    display: inline-block;
    padding-bottom: #{$global-padding / 2};
  }

  .label {
    @extend .h3;
    display: block;
  }

  .arrow {
    top: 22px;
    opacity: 0;
    position: absolute;
    pointer-events: none;
    transition: opacity .2s ease-out, transform .2s ease-out;
  }

  .prev {
    text-align: right;
    padding-right: $global-padding;
    .arrow {
      right: 100%;
      margin-right: $global-padding;
      transform: rotate(180deg) translateX(-20px);
    }

    &:hover {
      .arrow {
        opacity: 1;
        transform: rotate(180deg) translateX(0);
      }
    }
  }
  .next {
    padding-left: $global-padding; 
    border-left: 1px solid $black;
    .arrow {
      left: 100%;
      transform: translateX(-20px);
      margin-left: $global-padding;
    }

    &:hover {
      .arrow {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }

  .colorbar {
    height: #{$global-padding * 2};
    @include media-md {
      width: 72%;
    }
  }
}