// Typography Page

.brand-typefaces {
  .replica-pro-intro {
    .section-title {
      font-family: $font-sans;
    }
  }

  .pitch-intro {
    .section-title {
      font-weight: normal;
      font-family: $font-mono;
    }
  }
}

.type-specs {
  @include dots($black, 4px, top);
  padding-top: #{$global-padding * 2};
  p {
    max-width: none;
  }

  .-large {
    display: none;
  }

  @include media-md {
    .-small {
      display: none;
    }
    .-large {
      display: block;
    }
  }
}

.subnested-modulars .subpage-content.type-specs {
  .sidenote {
    margin-top: 0;
  }
}

.worchester-ef {
  .subnested-modulars .subpage-content.type-specs {
    .sidenote {
      margin-top: #{$vertical-beat};
      @include media-md {
        margin-top: #{$vertical-beat * 7};
      }
    }
  }
}