/* Visual Identity Page*/

body.visual.identity {
  .subnested-modulars .subnested-modulars {
    @include media-md {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      width: calc(100% + #{$global-padding * 2});
    }
    .subpage-content {
      padding-left: $global-padding;

      p {
        max-width: none;
      }
      .sidenote {
        margin-top: 0;
        display: block;
        margin-right: $vertical-beat;
      }
      .button {
        opacity: .25;
        cursor: default;
        pointer-events: none;
      }
      @include media-sm {
        .sidenote {
          margin-right: #{$vertical-beat * 3};
        }
      }
      @include media-md {
        float: left;
        margin-right: #{$global-padding * 2};
      }
    }
  }
}

/* Logotypes*/