// Grid

$column: 100% * 1 / 20;


@include media-md {
  .grid {
    @include clearfix;
  }

  .one-half {
    width: 50%;
    float: left;
  }
  .one-third {
    float: left;
    width: 33.3333%;
  }
}