// Typography

@import url("//hello.myfonts.net/count/325293");

  
@font-face {
  font-family: 'WorchesterEF-Medium';
  src: url('../fonts/325293_0_0.eot');
  src: url('../fonts/325293_0_0.eot?#iefix') format('embedded-opentype'),
       url('../fonts/325293_0_0.woff2') format('woff2'),
       url('../fonts/325293_0_0.woff') format('woff'),
       url('../fonts/325293_0_0.ttf') format('truetype');
}
@font-face {
  font-family: 'WorchesterEF-DemiBold';
  src: url('../fonts/325293_1_0.eot');
  src: url('../fonts/325293_1_0.eot?#iefix') format('embedded-opentype'),
       url('../fonts/325293_1_0.woff2') format('woff2'),
       url('../fonts/325293_1_0.woff') format('woff'),
       url('../fonts/325293_1_0.ttf') format('truetype');
}
@font-face {
  font-family: 'WorchesterEF-Regular';
  src: url('../fonts/325293_2_0.eot');
  src: url('../fonts/325293_2_0.eot?#iefix') format('embedded-opentype'),
       url('../fonts/325293_2_0.woff2') format('woff2'),
       url('../fonts/325293_2_0.woff') format('woff'),
       url('../fonts/325293_2_0.ttf') format('truetype');
}
@font-face {
  font-family: 'WorchesterEF-RegularItalic';
  src: url('../fonts/325293_3_0.eot');
  src: url('../fonts/325293_3_0.eot?#iefix') format('embedded-opentype'),
       url('../fonts/325293_3_0.woff2') format('woff2'),
       url('../fonts/325293_3_0.woff') format('woff'),
       url('../fonts/325293_3_0.ttf') format('truetype');
}

@font-face {
    font-family: "Replica-Regular";
    src:url("../fonts/lineto-replica-regular.eot");
    src:url("../fonts/lineto-replica-regular.eot?#iefix") format("embedded-opentype"),
        url("../fonts/lineto-replica-regular.woff2") format("woff2"),
        url("../fonts/lineto-replica-regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Replica-Bold";
    src:url("../fonts/lineto-replica-bold.eot");
    src:url("../fonts/lineto-replica-bold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/lineto-replica-bold.woff2") format("woff2"),
        url("../fonts/lineto-replica-bold.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pitch Semibold';
    src:url("fonts/PitchWeb-Semibold.eot");
    src: url('../fonts/PitchWeb-Semibold.woff2') format('woff2'),
         url('../fonts/PitchWeb-Semibold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Flor Mono';
    src: url('../fonts/flormonospacev3.01-regular-webfont.woff2') format('woff2'),
         url('../fonts/flormonospacev3.01-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

$font-regular: 'WorchesterEF-Regular', serif;
$font-regular-bold: 'WorchesterEF-DemiBold', serif;
$font-sans: 'Replica-Regular', sans-serif;
$font-sans-bold: 'Replica-Bold', sans-serif;
$font-mono: 'Pitch Semibold', 'Courier New', mono;
$flor-mono: 'Flor Mono';

.h1 {
  font: normal 42px/40px $font-regular-bold;
}

.h2 {
  font: normal 28px/30px $font-regular-bold;
}

.h3 {
  letter-spacing: .15em;
  text-transform: uppercase;
  font: normal 12px/20px $font-sans-bold;
}

@mixin h1 {
  @extend .h1;
}
@mixin h2 {
  @extend .h2;
}

@mixin h3 {
  letter-spacing: .15em;
  text-transform: uppercase;
  font: normal 12px/20px $font-sans-bold;
}

// Baseline
$vertical-beat: 10px;