// Typography

@font-face {
    font-family: 'worchesteref';
    src: url('../fonts/elsnerflake_-_worchesteref-regular-webfont.woff2') format('woff2'),
         url('../fonts/elsnerflake_-_worchesteref-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'worchesteref-medium';
    src: url('../fonts/elsnerflake_-_worchesteref-medium-webfont.woff2') format('woff2'),
         url('../fonts/elsnerflake_-_worchesteref-medium-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'worchesteref-demibold';
    src: url('../fonts/elsnerflake_-_worchesteref-demibold-webfont.woff2') format('woff2'),
         url('../fonts/elsnerflake_-_worchesteref-demibold-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Flor Mono';
    src: url('../fonts/flormonospacev3.01-regular-webfont.woff2') format('woff2'),
         url('../fonts/flormonospacev3.01-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

$font-regular: 'worchesteref', serif;
$font-sans: 'Replica Pro', 'Helvetica', sans-serif;
$font-mono: 'Pitch', 'Courier New', mono;
$flor-mono: 'Flor Mono';

.h1 {
  font: normal 42px/40px 'worchesteref-demibold';
}

.h2 {
  font: normal 28px/30px 'worchesteref-demibold';
}

.h3 {
  letter-spacing: .15em;
  text-transform: uppercase;
  font: 700 12px/20px $font-sans;
}

@mixin h1 {
  @extend .h1;
}
@mixin h2 {
  @extend .h2;
}

@mixin h3 {
  letter-spacing: .15em;
  text-transform: uppercase;
  font: 700 12px/20px $font-sans;
}

// Baseline
$vertical-beat: 10px;