// Variables

// Colors
$white: #fff;
$black: #000;

// Brand Swatches
// $brand-primary: ;
// $brand-secondary: ;

// Breakpoints
$breakpoint-sm: 480px;
$breakpoint-md: 768px;
$breakpoint-lg: 975px;
$breakpoint-xl: 1200px;
// $breakpoint-nav: ;

// Spacing
$global-padding: 50px;

// Easings
$slide-easing: cubic-bezier(0.65, 0, 0.35, 1);