// Variables

// Colors
$white: #fff;
$black: #353d38;
$black-light: #757C78;
$gray: #bfbbbd;
$gray-light: #e9eef1;

// Brand Swatches
// $brand-primary: ;
// $brand-secondary: ;

// Breakpoints
$breakpoint-sm: 480px;
$breakpoint-md: 768px;
$breakpoint-lg: 975px;
$breakpoint-xl: 1200px;
$breakpoint-wrapper: 1180px;
// $breakpoint-nav: ;

// Spacing
$global-padding: 50px;

// Easings
$slide-easing: cubic-bezier(0.65, 0, 0.35, 1);