{% macro pageLinkName(text) %}{{ text|lower|replace({' ':'-'})|replace({'&':'and'}) }}{% endmacro %}

<div class="subpage-content template-flor-mono-characters {{  _self.pageLinkName(page.menu) }}" id="{{  _self.pageLinkName(page.menu) }}">
  {% if page.content %}
    <div class="content user-content">
      {{ page.content }}
    </div>
  {% endif %}
</div>