<div class="nested-modular">
  <div class="content user-content">
    <h3 class="nested-title">{{ page.title }}</h3>
    {{ page.content }}
    <div class="sidenote">
      {{ page.sidenote }}
    </div>
  </div>
  <div class="subnested-modulars">  
    {% for module in page.children %}
      <div class="subnested-modular">
        {{ module.content }}
      </div>
    {% endfor %}
  </div>
</div>